
/*komal   */

html,
body {
    height: 100%;
    width: 100%;
}

input[type=submit]:hover {
    background-image: linear-gradient(to bottom,   #523082 ,#b82283);
}

input[type=submit] {
    background-image: linear-gradient(to top, #523082, #b82283);
    color: white;
    padding: 11px 30px;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    align-items: center;
    /* border: 1px solid black; */
    margin-bottom: 4%;
    margin-top: 5%;
}

.reset:hover {
    background-image: linear-gradient(to bottom,  #b82283  ,#523082);
    text-decoration: none;
    color: white;
}

.reset {
    background-image: linear-gradient(to top, #b82283, #523082);
    color: white;
    padding: 12.5px 35px;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    align-items: center;
    /* border: 1px solid black; */
    margin-bottom: 4%;
    margin-top: 5%;
}

.bottom {
    padding-bottom: 50%;
}