/*  Admin Dashboard */

body {
    font-family: "Lato", sans-serif;
}

nav {
    border-bottom: 1px solid black;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    /* padding-top: 60px; */
    border-right: 1px solid black;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: whitesmoke;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 11px;
}

.container {
    transition: all 0.1s;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* student detail */

.space {
    margin: 5%;
    font-size: large;
}

.z-0 {
    display: none;
}

.pagination nav {
    width: fit-content;
    margin: auto;
}

.prLabel {
    margin-top: 10px;
    font-weight: bold;
    font-size: large;
}

.table-container {
    width: max-content;
    margin-left: 250px;
}